<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">[[${pageTitle}]]</h1>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <form th:action="@{/degree/save}" method="post" th:object="${degree}">
        <input type="hidden" th:field="*{degreeid}" />
        <div class="mb-3">
            <label for="degreeName" class="form-label">Degree Name</label>
            <input type="text" class="form-control" id="degreeName" th:field="*{degreeName}">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">Submit</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelBtnFunction()">Cancel</button>
        </div>
    </form>
</div>

<script>
    function cancelBtnFunction(){
        window.location = "[[@{/degree}]]"
    }
</script>
</body>
</html>