<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Students</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<h1 class="text-center m-3">All Students</h1>
<div class="container">
  <div class="m-3">
    <a th:href="@{/students/new}" class="btn btn-success">Register New Student</a>
    <a th:href="@{/}" th:title="Home" style="float: right"><i class="fa-solid fa-house fa-2xl" style="color: #000000;"></i></a>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Date of Birth</th>
      <th>Email</th>
      <th>Enrollment Date</th>
      <th>Enable Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <th:block th:each="student:${listStudent}">
        <tr>
          <td>[[${student.studentid}]]</td>
          <td>[[${student.full_name}]]</td>
          <td>[[${student.dob}]]</td>
          <td>[[${student.email}]]</td>
          <td>[[${student.enrollment_date}]]</td>
          <td>[[${student.enable_student}]]</td>
          <td>
            <a th:href="@{'/students/edit/' + ${student.studentid}}" title="Edit Student Record"><i class="fa-solid fa-pen-to-square fa-xl" style="color: #008000;"></i></a>
            <a th:href="@{'/students/delete/' + ${student.studentid}}" title="Delete Student Record"><i class="fa-solid fa-trash fa-xl" style="color: #ff0000;"></i></a>
          </td>
        </tr>
      </th:block>
    </tbody>
  </table>
</div>
<script src="https://kit.fontawesome.com/5241448f6b.js" crossorigin="anonymous"></script>
</body>
</html>